html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.no-results {
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 4px #000000;
  color: red;
}
.two-results {
  text-align: center;
  margin-top: 20px;
  color: green;
}
.one-result {
  text-align: center;
  margin-top: 20px;
  color: #258cfb;
}
.all-solution{
  text-align: center;
  margin-top: 20px;
  color: black;
}
.title{
  text-align: center;
  margin-top: 20px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.counter{
  text-align: center;
  margin-top: 20px;
  color: yellowgreen;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.result{
  text-align: center;
  margin-top: 20px;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
