@{
    ViewData["Title"] = "Druga Strona";
}


<h1>Rysowanie na canvas</h1>

<canvas id="canvas" class="drawingX" width="500" height="500"></canvas>

<p>
    Panowanie Oktawiana Augusta (27 p.n.e. – 14 n.e.) cechowało przywrócenie stabilności politycznej i społecznej. Ustrój republikański nie został formalnie zniesiony, a władza cesarza wywodziła się z połączenia kompetencji urzędów cywilnych oraz wojskowych, w szczególności władzy konsula (najwyższego urzędnika i dowódcy wojskowego), trybuna ludowego (protektora ludu z prawem weta i inicjatywą prawodawczą) i najwyższego kapłana (Pontifex Maximus). Cezara określano również jako zwycięskiego wodza (Imperator) oraz ojca ojczyzny (pater patriae). August zachował przywileje senatorów, podkreślając, że jest pierwszym wśród równych (princeps). Dlatego ten system rządzenia nazwano pryncypatem.

    August wprowadził szereg reform usprawniających administrację rzymską. Zastąpił skorumpowanych i ambitnych patrycjuszy sprawnymi administratorami ze stanu ekwitów (należał do nich m.in. Poncjusz Piłat), dając im kluczowe stanowiska w państwie, np. prefekta Egiptu (ważne źródło zaopatrzenia w zboże) czy prefekta pretorii (gwardia cesarska w Rzymie). Zastąpił także skorumpowanych przedsiębiorców, dzierżawiących podatki, urzędnikami państwowymi. Rozsądne podatki i stabilna moneta spowodowały rozwój handlu i wzrost gospodarczy.

    August zajął się także reformą religii i uzdrowieniem obyczajów. Ustanowił prawa zachęcające do małżeństwa i posiadania dzieci (opodatkowano kawalerów i bezdzietnych), wprowadził kary za przestępstwa seksualne. Promował kulturę opiewającą proste, wiejskie i rodzinne wartości oraz pobożność. Odbudował 53 świątynie w Rzymie, odnawiając zaniedbane ceremonie religijne.

    Oktawian kontynuował ekspansję rzymską w Europie, choć nie udały się jego plany podboju terenów dzisiejszych Niemiec. W bitwie w Lesie Teutoburskim jesienią 9 r. n.e. Rzymianie utracili 3 legiony i po tej porażce granice rzymskie na północy stopniowo oparły się o naturalne bariery – rzeki Ren i Dunaj, a polityka ich fortyfikowania była kontynuowana w kolejnych wiekach.

    Dynastia julijsko-klaudyjska
    Jedną ze słabości cesarstwa był brak ustalonych zasad sukcesji. Podtrzymywanie fikcji trwania republiki uniemożliwiało ustalenie wprost zasady dziedziczenia, chociaż najczęściej to krewni zmarłego cesarza sięgali po władzę na podstawie testamentu poprzednika. Następcą Augusta został jego pasierb – Tyberiusz (14–37). Już współcześni podejrzewali, czy jego wejścia na „tron cesarski” nie ułatwiła jego matka, Liwia Druzylla. Podejrzewano ją o spowodowanie zabójstwa mężów jedynej córki cesarza Julii Starszej – Marka Marcellusa i Marka Agrypy oraz jej synów, a wnuków Augusta – Gajusza Cezara i Lucjusza Cezara. Tyberiusz był skutecznym dowódcą i administratorem, choć za swego panowania nie opuszczał już Italii. Pod koniec rządów wycofał się do willi na Capri, pozostawiając rządy w ręku prefekta pretorii Lucjusza Aeliusza Sejanusa. Jego dwór na Capri cieszył się złą sławą ze względu na krążące opowieści o odbywających się tam orgiach i zbrodniach.

    Jego sukcesorem był młody Gajus zwany Kaligulą (37–41), jeden z wnuków Druzusa, zmarłego wiele lat wcześniej młodszego brata Tyberiusza. Kaligula zdobył początkowo popularność, znosząc podatek od sprzedaży oraz sponsorując igrzyska sportowe i przedstawienia, ale szybko stał się tyranem. Mordował senatorów, aby posiąść ich żony i majątki, na gubernatorów mianował przyjaciół z dzieciństwa, żądał oddawania sobie czci jako Jowiszowi i – według Swetoniusza – planował powierzenie urzędu konsula swojemu koniowi, Incitatusowi. W końcu sam został zamordowany przez spiskowców.

    Po śmierci Kaliguli rozważano przywrócenie republiki, ale pretorianie wymusili na senacie uznanie nowego cesarza. Został nim Klaudiusz (41–54), stryj zamordowanego Kaliguli, który dotychczas żył na uboczu. Znienawidzony przez senatorów Klaudiusz otaczał się głównie wyzwoleńcami, którzy zdobyli duży wpływ na rządy. Odznaczył się on rozsądnymi decyzjami politycznymi oraz wprowadzeniem humanitarnych praw dotyczących dłużników i niewolników. Klaudiusz rozbudował również port w Ostii oraz wybudował nowy akwedukt zaopatrujący Rzym w wodę. Został otruty przez swoją czwartą żonę Agrypinę, która w ten sposób zdobyła tron dla swojego syna Nerona (54–68), ożenionego z córką Klaudiusza – Oktawią. Wkrótce po objęciu rządów Neron kazał zabić młodszego brata Oktawii, Brytanika, syna i jedynego spadkobiercę Klaudiusza. Zamordował też własną matkę, a później na polecenie swej kochanki i przyszłej żony Poppei wygnał i kazał zabić także Oktawię. Neron zapoczątkował także prześladowania chrześcijan, wykorzystując do tego pożar Rzymu w 64 roku. Władał nieudolnie i wybuchły przeciwko niemu bunty. Popełnił samobójstwo podczas ucieczki z opanowanego przez swoich wrogów Rzymu.

    Śmierć Nerona spowodowała wygaśnięcie dynastii julijsko-klaudyjskiej i zapoczątkowała wojnę domową, podczas której rzymscy żołnierze powołali po kolei czterech cesarzy: Galbę, Othona, Witeliusza i Wespazjana. Dlatego rok 69 nazywany jest rokiem czterech cesarzy. Obnażyło to fikcję republikańskich tradycji – władza cesarzy opierała się w istocie na armii.
</p>

<canvas id="canvas" class="drawingCanvas drawingX"></canvas>

