@{
    ViewData["Title"] = "Home Page";
}


<h1>Wpisz liczbę, aby wygenerować tabelę</h1>
<form>
    <label for="number">Wpisz liczbę z zakresu od 5 do 20:</label>
    <input type="number" id="number" name="number" value="value"><br>
</form>

<button type="button" id="button">Generuj</button>