
@{
    ViewBag.Title = "Game";
}
<h1 class="title">@ViewBag.Title</h1>
<h2 class="result">@ViewBag.Result</h2>
<h3 class="good-result">@ViewBag.GoodResult</h3>
<h2 class="counter">@ViewBag.Counter</h2>